*{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	background-color: #C0C0C0;
}
#title1{
	background-color: #FFC0CB;
}
#title2{
	background-color: #87CEEB;
}
#title3{
	background-color: #90EE90;
}